        /* li{
            background-color: black;
        }
        ul{
            color: blue;
        }
        table{
                border-collapse: collapse;
        }
        td{
            border: 2px solid;
            padding: 5px;
        }
#box{
    color: red;
}

.box{
    color: green;
} */
/*
button{
    background-color: green;
} */
/* body{
    font-family: 'Times New Roman', Times ;
}
h1{
    text-align: center;
    text-transform: capitalize;
} */

/* practise-set2-03 */

/* #outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */

/* practise-set3-01 */

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

/* practise-set3-02 */

/* *{
    padding: 0;
    margin: 0;
    color: white;
}

#nav-bar{
    background-color:  #0f1111;
    height: 60px;

}

button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 20px;
}
a{
    margin-right: 200px;
}
#content{
    height: 867px;
    color: black;
    background-color: yellow;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
} */

.notmovable{
    position: fixed;
    height: 100px;
    width: 100px;
    background-image: url("./utils/image.png");
    background-size: cover;
    right: 0px;
    top: 50px;
}