        /* li{
            background-color: black;
        }
        ul{
            color: blue;
        }
        table{
                border-collapse: collapse;
        }
        td{
            border: 2px solid;
            padding: 5px;
        }
#box{
    color: red;
}

.box{
    color: green;
} */
/*
button{
    background-color: green;
} */
/* body{
    font-family: 'Times New Roman', Times ;
}
h1{
    text-align: center;
    text-transform: capitalize;
} */

/* practise-set2-03 */

/* #outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */

/* practise-set3-01 */

div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}